h1 {
    /* color: powderblue;
    background-color: burlywood;
    text-align: center; */
    /* font-size: xx-large; */
}

img {
    /* height: 10%;
    width: auto; */
    padding: 50px;
    width: 150px;
}